*{
   margin: 0px;
   box-sizing: border-box;
}
.navbar-nav{
    margin-left: 200px;
}
#let{
    background: url(/images/images/neet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home{
    margin-top: 90px;
}
.pic{
    height: 50px;
}
#family{
    font-family: "poppins";
}
#mb{
    margin-top: 40px;
}
.mba{
    margin-top: 50px;
}
p{
    font-weight: bold;
}
h5{
    margin-top: -20px;
    font: weight bold;
}

#help{
    height: 650px;
    border-top-left-radius: 70px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 140px;
}