.navbar-nav{
    margin-left: 200px;
}
#let{
    background: url(/images/images/eart-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text{
    color: #fff;
}
#section{
    background-color: rgb(127, 127, 127);
    border-bottom-right-radius: 20px;
    /* border-bottom-left-radius: 50px; */
}
#oh{
    background-color: #f4c141;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.t{
    color: #f4c141;
}
.pic{
    height: 50px;
}
/* #let{
    background-color: rgb(127, 127, 127);
   
} */
.main{
    width: 320px;
    filter: brightness(90%);
    
}
.ket{
    width: 300px;
    border-bottom-left-radius: 70px;
    /* border-bottom-right-radius: 140px; */
    border-top-right-radius: 60px;
}
.kit{
    width: 240px;
    height: 160px;
    border-radius: 200px;
}

