.navbar-nav{
    margin-left: 200px;
}
.pic{
    height: 50px;
}
/* #let{
    background-color: rgb(127, 127, 127);
   
} */
.main{
    width: 400px;
    filter: brightness(50%);
}
.ket{
    width: 300px;
    border-bottom-left-radius: 70px;
    /* border-bottom-right-radius: 140px; */
    border-top-right-radius: 60px;
}
.kit{
    width: 240px;
    height: 160px;
    border-radius: 200px;
}
#oh{
    background-color: #f4c141;
}
