.home{
    background-image: url(/images/images/control.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center; */
}
.navbar-nav{
    margin-left: 200px;
}
.jak{
	color: #000;
}
.pic{
    height: 50px;
}
.ner{
	border-top-left-radius: 50px;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 30px;
	width: 300px;
	/* transform: rotate(10deg); */
}
.nerr{
	border-top-left-radius: 50px;
	border-bottom-right-radius: 70px;
	/* border-bottom-right-radius: 30px; */
	width: 250px;
	/* transform: rotate(10deg); */
}
.os{
	border-top-left-radius: 50px;
	border-bottom-right-radius: 140px;
	width: 300px;
}
.oss{
	border-top-left-radius: 50px;
	border-bottom-right-radius: 90px;
	width: 250px;
}
.ot{
	border-top-right-radius: 130px;
	border-bottom-left-radius: 50px;
	width: 300px;
}
.ott{
	border-top-right-radius: 90px;
	border-bottom-left-radius: 50px;
	width: 250px;
}
.con{
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	width: 300px;
}
.conn{
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	width: 250px;
}
.rock{
	border-bottom-right-radius: 50px;
	border-top-left-radius: 100px;
	width: 300px;
}
.rockk{
	border-bottom-right-radius: 50px;
	border-top-left-radius: 100px;
	width: 250px;
}
.boss{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 80px;
	border-top-left-radius: 90px;
	width: 300px;
}
.bosss{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	width: 250px;
}